---
import { getPageInfo } from '@/utils/page'
import { getSitePath } from '@/utils/path'

const { isHome, isPost, isTag, isAbout } = getPageInfo(Astro.url.pathname)

const isPostActive = isHome || isPost
const isTagActive = isTag
const isAboutActive = isAbout

function getNavItemClass(isActive: boolean) {
  return isActive
    ? 'highlight-static c-primary font-bold after:bottom-0.7em'
    : 'highlight-hover transition-[colors,font-weight] after:bottom-0.7em hover:(c-primary font-bold)'
}

const navItems = [
  {
    href: '/',
    label: 'Posts',
    className: getNavItemClass(isPostActive),
  },
  {
    href: '/tags/',
    label: 'Tags',
    className: getNavItemClass(isTagActive),
  },
  {
    href: '/about/',
    label: 'About',
    className: getNavItemClass(isAboutActive),
  },
]
---

<nav
  aria-label="Site Navigation"
  class:list={[
    'mb-10.5 text-3.6 font-semibold leading-2.45em font-navbar',
    'lg:(uno-desktop-column text-4 bottom-[min(9.04rem+3.85vw,12.5rem)]) cjk:tracking-wide',
    isPost ? 'hidden lg:block' : '',
  ]}
>
  <ul>
    {navItems.map(item => (
      <li>
        <a
          href={getSitePath(item.href)}
          class={item.className}
        >
          {item.label}
        </a>
      </li>
    ))}
  </ul>
</nav>
